/*
* @Author: Shaun
* @Date:   2017-04-20 11:39:11
* @Last Modified by:   Administrator
* @Last Modified time: 2017-05-02 23:13:14
*/


/* 下发商品展览部分 */
.mid-div{
	width:100%;
	text-align: center;
}
.mid-div .mid-center{
	width: 100%;
	margin-top: 40px;
}

/* 轮播图部分 */
.mid-div .mid-center .focusPic{
	display: none;
	width: 980px;
	height: 450px;
	background: #FAFBF9;
	position: relative;
}


/* 16宫格 */
.mid-div .mid-center .showCake{
	width: 100%;
}
.mid-div .mid-center .showCake .kindOf{
	width: 80px;
	height: 100%;
	position: fixed;
	top: 40px;
	left: 0;
}
/* 分类 */
.mid-div .mid-center .showCake .kindOf a{
	display: block;
	float:left;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	border-bottom: solid 1px #91B04C;
	color: white;
	text-decoration: none;
	background: rgba(145,157,50, 0.5);
}
.mid-div .mid-center .showCake .kindOf a:last-child{
	border-bottom:none;
}
.mid-div .mid-center .showCake .kindOf a:hover{
	background: #91B04C;
	color: white;
}

/* 16宫格展示 */
.mid-div .mid-center .showCake .sixteen{
	width: 80%;
	height: 100%;
	float: right;
}
.mid-div .mid-center .showCake .sixteen >a{
	display: block;
	width: 50%;
	height: 50%;
	float: left;
}
.mid-div .mid-center .showCake .sixteen >a img{
	width: 100%;
	height: 100%;
}


